  header{
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-size: 160px;
    Background: #F6A631;
    color: #165ccb;
    border-bottom: 10px solid #165ccb;
    }
  body{
    background: url("images/sushi-background.svg") repeat center;
    background-image: url("images/sushi-background.svg");
    color: #165ccb;
    padding: 20px;
    }
  h1{
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    font-size: 80px;
    margin: 0 auto;
    }
  h2{
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-size: 40px;
    margin: 0 auto;
    }
  h3{
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    border-bottom: 10px solid #F6A631;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px;
    }
  article{
    background: rgba(22, 92, 203, 0.75);
    color: white;
    padding: 20px;
    }
  main{
    width: 100%;
    margin: 0 auto;
    }
  figure{
    background: #f6a631;
    float: right;
    color: #165ccb;
    text-align: center;
    max-width: 100%;
    height: auto;
    }
  img{
    float: left;
    padding: 20px;
    max-width: 100%;
    height: auto;
    }
  .footer{
    padding: 40px;
    text-align: center;
    border-top: 10px solid #F6A631;
    display: block;
    }
  .button{
    color: rgb(22, 92, 203);
    font-size: 25px;
    padding: 20px;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgb(246, 166, 49);
    background: -moz-linear-gradient(90deg, rgb(246, 166, 49) 30%, rgb(246, 166, 49) 70%);
    background: -webkit-linear-gradient(90deg, rgb(246, 166, 49) 30%, rgb(246, 166, 49) 70%);
    background: -o-linear-gradient(90deg, rgb(246, 166, 49) 30%, rgb(246, 166, 49) 70%);
    background: -ms-linear-gradient(90deg, rgb(246, 166, 49) 30%, rgb(246, 166, 49) 70%);
    background: linear-gradient(0deg, rgb(246, 166, 49) 30%, rgb(246, 166, 49) 70%);
    -webkit-box-shadow: 0px 2px 12px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 12px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 12px rgba(50, 50, 50, 0.75);
    text-decoration: none;
    font-family: 'Poor Story', cursive;
    display: inline-block;
    }
    .clearfix{
        clear: both;
    }